In [1]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load the dataset
spam_data = pd.read_csv('spam.csv')

In [ ]:
# creating the new column 'span' encoding the 'Category column 
spam_data['spam']=spam_data['Category'].apply(lambda x:1 if x=='spam' else 0)

In [ ]:
# Display statistical summery of the numerical dataset
spam_data.describe()

              spam
count  5572.000000
mean      0.134063
std       0.340751
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [ ]:
# display the last first five rows of dataset
spam_data.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [ ]:
# display basic info about about the data
spam_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
 2   spam      5572 non-null   int64
dtypes: int64(1), object(2)
memory usage: 130.7+ KB

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
x=spam_data['spam']
y=spam_data['Message']

In [ ]:
vectorizer= CountVectorizer()