# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
# import sklearn
import matplotlib.pyplot as plt

In [5]:
housing_dataframe= pd.read_csv('ccn.csv')

In [ ]:
# display all
housing_dataframe

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7229300521,20141013T000000,231300.0,2.0,1.00,1180.0,5650.0,1.0,0,0,...,7,1180.0,0.0,1955,0,98178.0,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,NaN,7242.0,2.0,0,0,...,7,2170.0,400.0,1951,1991,98125.0,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0,0,0,...,6,770.0,0.0,1933,0,98028.0,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,NaN,0,0,...,7,1050.0,910.0,1965,0,98136.0,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0,0,0,...,8,NaN,0.0,1987,0,98074.0,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3.0,2.50,1530.0,1131.0,3.0,0,0,...,8,1530.0,0.0,2009,0,98103.0,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4.0,2.50,2310.0,5813.0,2.0,0,0,...,8,2310.0,0.0,2014,0,98146.0,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2.0,0.75,1020.0,1350.0,2.0,0,0,...,7,1020.0,0.0,2009,0,98144.0,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3.0,2.50,1600.0,2388.0,2.0,0,0,...,8,1600.0,0.0,2004,0,98027.0,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2.0,0.75,1020.0,1076.0,2.0,0,0,...,7,1020.0,0.0,2008,0,98144.0,47.5941,-122.299,1020,1357

In [ ]:
# display 1st five data
housing_dataframe.head

<bound method NDFrame.head of                id             date     price  bedrooms  bathrooms  \
0      7229300521  20141013T000000  231300.0       2.0       1.00
1      6414100192  20141209T000000  538000.0       3.0       2.25
2      5631500400  20150225T000000  180000.0       2.0       1.00
3      2487200875  20141209T000000  604000.0       4.0       3.00
4      1954400510  20150218T000000  510000.0       3.0       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0       3.0       2.50
21609  6600060120  20150223T000000  400000.0       4.0       2.50
21610  1523300141  20140623T000000  402101.0       2.0       0.75
21611   291310100  20150116T000000  400000.0       3.0       2.50
21612  1523300157  20141015T000000  325000.0       2.0       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0           1180.0    5650.0     1.0           0     0  ...      7
1              NaN    7242.0     2.0           0     0  ...      7
2            770.0   10000.0     1.0           0     0  ...      6
3           1960.0    5000.0     NaN           0     0  ...      7
4           1680.0    8080.0     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608       1530.0    1131.0     3.0           0     0  ...      8
21609       2310.0    5813.0     2.0           0     0  ...      8
21610       1020.0    1350.0     2.0           0     0  ...      7
21611       1600.0    2388.0     2.0           0     0  ...      8
21612       1020.0    1076.0     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0          1180.0            0.0      1955             0  98178.0  47.5112
1          2170.0          400.0      1951          1991  98125.0  47.7210
2           770.0            0.0      1933             0  98028.0  47.7379
3          1050.0          910.0      1965             0  98136.0  47.5208
4             NaN            0.0      1987             0  98074.0  47.6168
...           ...            ...       ...           ...      ...      ...
21608      1530.0            0.0      2009             0  98103.0  47.6993
21609      2310.0            0.0      2014             0  98146.0  47.5107
21610      1020.0            0.0      2009             0  98144.0  47.5944
21611      1600.0            0.0      2004             0  98027.0  47.5345
21612      1020.0            0.0      2008             0  98144.0  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]>

In [ ]:
# display 1st 10 data
housing_dataframe.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7229300521,20141013T000000,231300.0,2.0,1.00,1180.0,5650.0,1.0,0,0,...,7,1180.0,0.0,1955,0,98178.0,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,NaN,7242.0,2.0,0,0,...,7,2170.0,400.0,1951,1991,98125.0,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0,0,0,...,6,770.0,0.0,1933,0,98028.0,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,NaN,0,0,...,7,1050.0,910.0,1965,0,98136.0,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0,0,0,...,8,NaN,0.0,1987,0,98074.0,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4.0,4.50,5420.0,101930.0,1.0,0,0,...,11,3890.0,1530.0,2001,0,98053.0,47.6561,-122.005,4760,101930
6,1321400060,NaN,257500.0,3.0,2.25,1715.0,6819.0,2.0,0,0,...,7,1715.0,0.0,1995,0,98003.0,47.3097,-122.327,2238,6819
7,2008000270,NaN,291850.0,3.0,1.50,1060.0,9711.0,1.0,0,0,...,7,1060.0,0.0,1963,0,98198.0,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3.0,1.00,1780.0,7470.0,1.0,0,0,...,7,1050.0,730.0,1960,0,98146.0,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3.0,2.50,1890.0,6560.0,2.0,0,0,...,7,1890.0,0.0,2003,0,98038.0,47.3684,-122.031,2390,7570

In [ ]:
# display last 5 data
housing_dataframe.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3.0,2.50,1530.0,1131.0,3.0,0,0,...,8,1530.0,0.0,2009,0,98103.0,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4.0,2.50,2310.0,5813.0,2.0,0,0,...,8,2310.0,0.0,2014,0,98146.0,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2.0,0.75,1020.0,1350.0,2.0,0,0,...,7,1020.0,0.0,2009,0,98144.0,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3.0,2.50,1600.0,2388.0,2.0,0,0,...,8,1600.0,0.0,2004,0,98027.0,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2.0,0.75,1020.0,1076.0,2.0,0,0,...,7,1020.0,0.0,2008,0,98144.0,47.5941,-122.299,1020,1357