# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
# import sklearn
import matplotlib.pyplot as plt

In [5]:
housing_dataframe= pd.read_csv('ccn.csv')

In [ ]:
# display all
housing_dataframe

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7229300521,20141013T000000,231300.0,2.0,1.00,1180.0,5650.0,1.0,0,0,...,7,1180.0,0.0,1955,0,98178.0,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,NaN,7242.0,2.0,0,0,...,7,2170.0,400.0,1951,1991,98125.0,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0,0,0,...,6,770.0,0.0,1933,0,98028.0,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,NaN,0,0,...,7,1050.0,910.0,1965,0,98136.0,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0,0,0,...,8,NaN,0.0,1987,0,98074.0,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3.0,2.50,1530.0,1131.0,3.0,0,0,...,8,1530.0,0.0,2009,0,98103.0,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4.0,2.50,2310.0,5813.0,2.0,0,0,...,8,2310.0,0.0,2014,0,98146.0,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2.0,0.75,1020.0,1350.0,2.0,0,0,...,7,1020.0,0.0,2009,0,98144.0,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3.0,2.50,1600.0,2388.0,2.0,0,0,...,8,1600.0,0.0,2004,0,98027.0,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2.0,0.75,1020.0,1076.0,2.0,0,0,...,7,1020.0,0.0,2008,0,98144.0,47.5941,-122.299,1020,1357

In [ ]:
# display 1st five data
housing_dataframe.head

<bound method NDFrame.head of                id             date     price  bedrooms  bathrooms  \
0      7229300521  20141013T000000  231300.0       2.0       1.00
1      6414100192  20141209T000000  538000.0       3.0       2.25
2      5631500400  20150225T000000  180000.0       2.0       1.00
3      2487200875  20141209T000000  604000.0       4.0       3.00
4      1954400510  20150218T000000  510000.0       3.0       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0       3.0       2.50
21609  6600060120  20150223T000000  400000.0       4.0       2.50
21610  1523300141  20140623T000000  402101.0       2.0       0.75
21611   291310100  20150116T000000  400000.0       3.0       2.50
21612  1523300157  20141015T000000  325000.0       2.0       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0           1180.0    5650.0     1.0           0     0  ...      7
1              NaN    7242.0     2.0           0     0  ...      7
2            770.0   10000.0     1.0           0     0  ...      6
3           1960.0    5000.0     NaN           0     0  ...      7
4           1680.0    8080.0     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608       1530.0    1131.0     3.0           0     0  ...      8
21609       2310.0    5813.0     2.0           0     0  ...      8
21610       1020.0    1350.0     2.0           0     0  ...      7
21611       1600.0    2388.0     2.0           0     0  ...      8
21612       1020.0    1076.0     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0          1180.0            0.0      1955             0  98178.0  47.5112
1          2170.0          400.0      1951          1991  98125.0  47.7210
2           770.0            0.0      1933             0  98028.0  47.7379
3          1050.0          910.0      1965             0  98136.0  47.5208
4             NaN            0.0      1987             0  98074.0  47.6168
...           ...            ...       ...           ...      ...      ...
21608      1530.0            0.0      2009             0  98103.0  47.6993
21609      2310.0            0.0      2014             0  98146.0  47.5107
21610      1020.0            0.0      2009             0  98144.0  47.5944
21611      1600.0            0.0      2004             0  98027.0  47.5345
21612      1020.0            0.0      2008             0  98144.0  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]>

In [ ]:
# display 1st 10 data
housing_dataframe.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7229300521,20141013T000000,231300.0,2.0,1.00,1180.0,5650.0,1.0,0,0,...,7,1180.0,0.0,1955,0,98178.0,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,NaN,7242.0,2.0,0,0,...,7,2170.0,400.0,1951,1991,98125.0,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0,0,0,...,6,770.0,0.0,1933,0,98028.0,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,NaN,0,0,...,7,1050.0,910.0,1965,0,98136.0,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0,0,0,...,8,NaN,0.0,1987,0,98074.0,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4.0,4.50,5420.0,101930.0,1.0,0,0,...,11,3890.0,1530.0,2001,0,98053.0,47.6561,-122.005,4760,101930
6,1321400060,NaN,257500.0,3.0,2.25,1715.0,6819.0,2.0,0,0,...,7,1715.0,0.0,1995,0,98003.0,47.3097,-122.327,2238,6819
7,2008000270,NaN,291850.0,3.0,1.50,1060.0,9711.0,1.0,0,0,...,7,1060.0,0.0,1963,0,98198.0,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3.0,1.00,1780.0,7470.0,1.0,0,0,...,7,1050.0,730.0,1960,0,98146.0,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3.0,2.50,1890.0,6560.0,2.0,0,0,...,7,1890.0,0.0,2003,0,98038.0,47.3684,-122.031,2390,7570

In [ ]:
# display last 5 data
housing_dataframe.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3.0,2.50,1530.0,1131.0,3.0,0,0,...,8,1530.0,0.0,2009,0,98103.0,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4.0,2.50,2310.0,5813.0,2.0,0,0,...,8,2310.0,0.0,2014,0,98146.0,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2.0,0.75,1020.0,1350.0,2.0,0,0,...,7,1020.0,0.0,2009,0,98144.0,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3.0,2.50,1600.0,2388.0,2.0,0,0,...,8,1600.0,0.0,2004,0,98027.0,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2.0,0.75,1020.0,1076.0,2.0,0,0,...,7,1020.0,0.0,2008,0,98144.0,47.5941,-122.299,1020,1357

In [ ]:
# display statical summary of data
housing_dataframe.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161200e+04,21612.000000,21613.000000,21609.000000,2.161100e+04,21608.000000,21613.000000,21613.000000,21613.000000,21613.000000,21611.000000,21612.000000,21613.000000,21613.000000,21612.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580306e+09,5.400835e+05,3.370813,2.114757,2079.930261,1.510780e+04,1.494331,0.007542,0.234303,3.409430,7.656873,1788.402573,291.490144,1971.005136,84.402258,98077.938553,47.560053,-122.213896,1986.552492,12768.455652
std,2.876570e+09,3.671346e+05,0.930123,0.770163,918.507812,4.142233e+04,0.539998,0.086517,0.766318,0.650743,1.175459,828.128353,442.576559,29.373411,401.679240,53.505948,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.218375e+05,3.000000,1.750000,1425.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068850e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [13]:
# to show datatype and not null count and col
housing_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21610 non-null  object
 2   price          21612 non-null  float64
 3   bedrooms       21612 non-null  float64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21609 non-null  float64
 6   sqft_lot       21611 non-null  float64
 7   floors         21608 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21612 non-null  float64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21612 non-null  float64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(11), int64(9), object(1)
memory usage: 3.5+ MB

### Data Processing/Data wrangling

In [16]:
# display total null value in each col
housing_dataframe.isnull().sum()

id               0
date             3
price            1
bedrooms         1
bathrooms        0
sqft_living      4
sqft_lot         2
floors           5
waterfront       0
view             0
condition        0
grade            0
sqft_above       2
sqft_basement    1
yr_built         0
yr_renovated     0
zipcode          1
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64